@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: rgba(0, 0, 0, 0.4) rgba(63, 62, 62, 0.1);
}

*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: rgba(63, 62, 62, 0.1)
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4) 
    
}

body{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    //overflow: hidden;  
    font-family: 'Akshar', sans-serif;
    flex-direction: column;
    
}
h1{    
    font-size: 2.5rem;
    width: 100%;
    text-align: center;    
    margin-top: 25px;
}

.container{
    //background: rgba(24,24,27,0.1);
    padding: 25px;
    position: fixed;
    bottom: 5%;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;  
    margin: 10px 20px;  
}

.container .section {
    font-weight: 300;
    font-size: 2rem;
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    margin: 0 20px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    background: rgba(0, 0, 0, 0.4);
    .weather-item{
      display: flex;
      justify-content: space-between;
      
  }
}

.image{
    top:65px;
    right:70px;
    padding: 0;
    border-radius: 50%;
    position: fixed;
    @media only screen and (max-width: 786px){
      top:65px;
      right:5px;
    }
}

img{
    width: 7rem;
    height: 7rem;
    @media only screen and (max-width: 786px){
      width: 5rem;
      height: 5rem;
    }
    
}

.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    .logo {
      font-size: 2rem;
      margin: .25rem;
      a{
        text-decoration: none;
        color: white;
      }
      
    }
  }
  
  
  
  .navbar-links {
    height: 100%;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          display: block;
          text-decoration: none;
          color: white;
          padding: 1rem;
          &:hover{
            background-color: #555;
          }
        }
      }
    }
  }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
    }
  }
  
  @media only screen and (max-width: 786px)
  { 
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex; 
    }
  
    .navbar-links {
      display: none;
      width: 100%;
      ul {
        width: 100%;
        flex-direction: column;
        li {
          text-align: center;
          a {
            padding: .5rem 1rem;
          }
        }
      }
    }
  
    .navbar-links.active {
      display: flex;
    }
  }