@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: rgba(0, 0, 0, 0.4) rgba(63, 62, 62, 0.1);
}

*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: rgba(63, 62, 62, 0.1)
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4) 
    
}

body{
    
    height: 100vh;
    //display: flex;
    //align-items: center;
    //justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    //overflow: hidden;  
    font-family: 'Akshar', sans-serif;
    //flex-direction: column;
    
}
h1{    
    font-size: 3.5rem;
    width: 100%;
    text-align: center;    
    margin-top: 25px;
}

.future-forecast{
  background: rgba(24,24,27,0.5);
  padding: 25px;
  position: fixed;
  left:0;
  bottom: 0;
  display: flex;
  color:white;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;    
  
}


.future-forecast .weather-forecast{
  display: flex;
}

.weather-forecast .weather-forecast-item{
  font-size: 1.5rem;
  display: flex;
  height:330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  .weather-item{
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}

.weather-forecast .weather-forecast-item:hover{
  background-color: rgba(0,0,0,0.7);
  transform: scale(1.08);
  transition: 1s;
  @media only screen and  (max-width:1000px){
    transform: (1);
  }
}

.weather-forecast .weather-forecast-item .day{
  padding: 5px 15px;
  background: #3C3C44;
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
  
  font-weight: 300;
  font-size: 10px;
}


@media only screen and  (max-width:1000px){
  
  .container{
      padding: 20px;
  }

  .current-info{
      flex-direction: column;
  }
  
 /*  .future-forecast{
      justify-content: start;
      align-items: none;
      overflow-x: scroll;
      */ 
  

  .future-forecast .today .temp{
      font-size: 16px;
  }

  .date-container .time{
      font-size: 40px;
  }

  .date-container #am-pm{
      font-size: 20px;
  }

  .date-container .date{
      font-size: 20px;
  }

  .place-container{
      
      margin-top: 5px;
  }

  .place-container .time-zone{
      font-size: 20px;
  }

  .current-info .others{
      padding: 12px;
      width:300px;
      
  }

  .current-info .others .weather-item{
      font-size: 14px;
  }

}



.image{
    top:150px;
    right:10px;
    padding: 0;
    border-radius: 50%;
    position: fixed;
    
    
}

img{
    width: 4rem;
    height: 4rem;
    margin:10px;
    @media only screen and (max-width: 786px){
      width: 4rem;
      height: 4rem;
    }
    
}

.section{
  font-size: 2rem;
  width: 100%;
  height: 5rem;
  display: block;
  align-items: center;
}

.section button{
  padding: 10px;
  background-color: rgba(59, 58, 58,0.4);
  color: white;    
  border: none;
  border-radius: 10%;
  border: 1px solid black;
  
}
.section .continue{
  margin: 0;

}
.section .continue:hover{
  transform: scale(1.1);
  
}


.section .farm-search{
  
  padding: 10px;
  background-color: rgba(59, 58, 58,0.4);
  color: white;    
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  
}

.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    .logo {
      font-size: 2rem;
      margin: .25rem;
      a{
        text-decoration: none;
        color: white;
      }
      
    }
  }
  
  
  
  .navbar-links {
    height: 100%;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          display: block;
          text-decoration: none;
          color: white;
          padding: 1rem;
          &:hover{
            background-color: #555;
          }
        }
      }
    }
  }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
    }
  }
  
  @media only screen and (max-width: 786px)
  { 
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex; 
    }
  
    .navbar-links {
      display: none;
      width: 100%;
      ul {
        width: 100%;
        flex-direction: column;
        li {
          text-align: center;
          a {
            padding: .5rem 1rem;
          }
        }
      }
    }
  
    .navbar-links.active {
      display: flex;
    }
  }

